#contact-form {
  background-color: #fdf6e3;
  padding: 1rem;

  .form-title {
    margin: 0.5rem 0;
    font-size: 1.075rem;
  }
  .feedback-input {
    color: #3c3c3c;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    background-color: #fbfbfb;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
  }

  .feedback-input:focus {
    box-shadow: 0;
    border: 1px solid #3498db;
    outline: none;
  }

  .focused {
    border: #30aed6 solid 1px;
  }

  textarea {
    min-height: 120px;
    line-height: 150%;
    resize: vertical;
  }

  #button-blue {
    border: #fbfbfb solid 1px;
    background-color: #3498db;
    cursor: pointer;
    color: #fbfbfb;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 5px;
  }

  #button-blue:hover {
    background: #fbfbfb;
    border: 1px solid #0493bd;
    color: #0493bd;
  }

  .submit:hover {
    color: #3498db;
  }
}
